body{
    box-sizing: border-box;
}
p, h1, h3{
    color:blue;
}
.contenedor{
    
    width: 40vw;
    border:2px solid blue;
    padding: 25px;
    box-shadow: 10px 12px 4px 1px rgba(0,0,0,0.75);
    text-align: center;
    align-content: center;
}
.contenido{
    width: 100%;
    justify-items: center;
    justify-content: space-between;
}
.rick{
    width: 225px;
    height: 225px;
}
.morty{
    width: 100px;
}
