@media (max-width:1200px){
    .titulo, .contenido{
        font-size: calc(1em + 1vw)
    }
        
    
}
@media (max-width:900px){
    .titulo, .contenido{
        font-size: calc(1em + 1vw)
    }
       
}
@media (max-width:600px){
    .titulo, .contenido{
        font-size: calc(1em + 1vw)
    }
       
}