p{
    font-size: x-large;
}
p, h1, h3{
    color:blue;
}
.contenedor{
    width: 40vw;
    border:2px solid blue;
    padding: 25px;
    box-shadow: 10px 12px 4px 1px rgba(0,0,0,0.75);
    text-align: center;
    align-content: center;
}
.contenido{
    border: 0.5px solid black;
    padding: 10px;
    box-shadow: 10px 12px 4px -2px rgba(0,0,0,0.75);

}
.acept{
    background-color: rgb(0, 225, 255);
    color: white;
}
.cancel{
    background-color: rgb(153, 6, 6);
    color: white;
}