body{
    box-sizing:border-box;
    background-color: black;
  
    
}
.cartas{
    flex-direction: row;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
 

}
.morty-1, .morty-2, .rick-1, .rick-2{
    width: 25vw;
    flex-direction:column;
    border: 2px solid rgb(0, 247, 255);
    color: rgb(0, 247, 255);
    text-align: center;
    padding:25px;
    margin:25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}