body{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
}
.contenedor1, .contenedor2{
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    margin-left:100px;
    margin-right:100px;
    
    
    
    
}
.morty{
    width:50%;
    text-align: center;
    border: 2px solid blue;
    color: blue;
    padding:15px;
    margin:25px 15px 25px 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    flex-direction: column;
}
.rick{
    
    width:50%;
    text-align: center;
    border: 2px solid blue;
    color: blue;
    padding:15px;
    margin:15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    flex-direction: column;
}